{% extends "poker_royale/base.html" %}
{% block content %}
<style>
	h1 {
	  text-align: center;
	}
</style>
	<h1>K·DATA</h1>
	<main role="main" class="container">
		<div class="row">
		    <div class="col-md-4">
		    	<h2>Poker Royale</h2>
		    	<p>Poker Royale is a simulation and training environment where you can make and train your own AI poker machines and have them play poker against other players (or your own machines). Define your self learning AI model, train it over millions of hands of poker and have it play thousands of games of poker against other models.</p>
		    </div>
		    <div class="col-md-4">
		    	<h2>Cyber Wall St</h2>
		    	<p>Here you can watch our AI models perform in the stock market with play money (COMING SOON...)</p>
		    </div>
		    <div class="col-md-4">
		    	<h2>REAL ESTATE APP</h2>
		    	<p>The power of information will tell you know which part of the UK to invest your money in (COMING SOON...)</p>
		    </div>
		</div>
	</main>
{% endblock content %}
